<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="Rewrite Rule 1" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^index.html" ignoreCase="false" />
                    
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="index.php" appendQueryString="false" />
                </rule><rule name="Rewrite Rule 2" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^app.html" ignoreCase="false" />
                    
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="app.php" appendQueryString="false" />
                </rule><rule name="Rewrite Rule 3" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^mv.html" ignoreCase="false" />
                    
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="mv.php" appendQueryString="false" />
                </rule><rule name="Rewrite Rule 4" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^tv.html" ignoreCase="false" />
                    
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="tv.php" appendQueryString="false" />
                </rule><rule name="Rewrite Rule 5" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^cx.html" ignoreCase="false" />
                    
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="cx.php" appendQueryString="false" />
                </rule><rule name="Rewrite Rule 6" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^yy.html" ignoreCase="false" />
                    
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="yy.php" appendQueryString="false" />
                </rule><rule name="Rewrite Rule 7" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^book.html" ignoreCase="false" />
                    
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="book.php" appendQueryString="false" />
                </rule><rule name="Rewrite Rule 8" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^hall.html" ignoreCase="false" />
                    
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="hall.php" appendQueryString="false" />
                </rule><rule name="Rewrite Rule 9" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^fuli.html" ignoreCase="false" />
                    
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="fuli.php" appendQueryString="false" />
                </rule><rule name="Rewrite Rule 10" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^zhibo.html" ignoreCase="false" />
                    
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="zhibo.php" appendQueryString="false" />
                </rule><rule name="Rewrite Rule 11" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^music.html" ignoreCase="false" />
                    
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="music.php" appendQueryString="false" />
                </rule><rule name="Rewrite Rule 12" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^movie.html" ignoreCase="false" />
                    
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="movie.php" appendQueryString="false" />
                </rule><rule name="Rewrite Rule 13" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^zongyi.html" ignoreCase="false" />
                    
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="zongyi.php" appendQueryString="false" />
                </rule><rule name="Rewrite Rule 14" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^dongman.html" ignoreCase="false" />
                    
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="dongman.php" appendQueryString="false" />
                </rule><rule name="Rewrite Rule 15" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^vod(.*)" ignoreCase="false" />
                    
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="play.php/?play={R:1}" appendQueryString="false" />
                </rule><rule name="Rewrite Rule 16" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^mvplay/(.*).html" ignoreCase="false" />
                    
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="mvplay.php/?mv={R:1}" appendQueryString="false" />
                </rule><rule name="Rewrite Rule 17" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^cxplay/(.*).html" ignoreCase="false" />
                    
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="cxplay.php/?id={R:1}" appendQueryString="false" />
                </rule><rule name="Rewrite Rule 18" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^yplay/(.*).html" ignoreCase="false" />
                    
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="yplay.php/?post={R:1}" appendQueryString="false" />
                </rule><rule name="Rewrite Rule 19" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^fun.html" ignoreCase="false" />
                    
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="fun.php" appendQueryString="false" />
                </rule><rule name="Rewrite Rule 20" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^shop_(.*)" ignoreCase="false" />
                    
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="shop.php/?page={R:1}" appendQueryString="false" />
                </rule><rule name="Rewrite Rule 21" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^shop.html" ignoreCase="false" />
                    
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="shop.php" appendQueryString="false" />
                </rule><rule name="Rewrite Rule 22" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^yule.html" ignoreCase="false" />
                    
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="yule.php" appendQueryString="false" />
                </rule><rule name="Rewrite Rule 23" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^splay/(.*).html" ignoreCase="false" />
                    
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="splay.php/?xiao={R:1}" appendQueryString="false" />
                </rule><rule name="Rewrite Rule 24" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^fplay/(.*).html" ignoreCase="false" />
                    
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="fplay.php/?yule={R:1}" appendQueryString="false" />
                </rule><rule name="Rewrite Rule 25" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^movie_(.*)_(.*)_(.*)_(.*)_(.*)_(.*).html" ignoreCase="false" />
                    
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="movie.php/?cat={R:1}&amp;year={R:2}&amp;area={R:3}&amp;act={R:4}&amp;rank={R:5}&amp;pageno={R:6}" appendQueryString="false" />
                </rule><rule name="Rewrite Rule 26" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^tv_(.*)_(.*)_(.*)_(.*)_(.*)_(.*).html" ignoreCase="false" />
                    
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="tv.php/?cat={R:1}&amp;year={R:2}&amp;area={R:3}&amp;act={R:4}&amp;rank={R:5}&amp;pageno={R:6}" appendQueryString="false" />
                </rule><rule name="Rewrite Rule 27" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^dongman_(.*)_(.*)_(.*)_(.*)_(.*).html" ignoreCase="false" />
                    
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="dongman.php/?cat={R:1}&amp;year={R:2}&amp;area={R:3}&amp;rank={R:4}&amp;pageno={R:5}" appendQueryString="false" />
                </rule><rule name="Rewrite Rule 28" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^zongyi_(.*)_(.*)_(.*)_(.*)_(.*).html" ignoreCase="false" />
                    
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="zongyi.php/?cat={R:1}&amp;act={R:2}&amp;area={R:3}&amp;rank={R:4}&amp;pageno={R:5}" appendQueryString="false" />
                </rule><rule name="Rewrite Rule 29" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^fun_(.*).html" ignoreCase="false" />
                    
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="fun.php/?m={R:1}" appendQueryString="false" />
                </rule><rule name="Rewrite Rule 30" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^yule_(.*).html" ignoreCase="false" />
                    
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="yule.php/?m={R:1}" appendQueryString="false" />
                </rule><rule name="Rewrite Rule 31" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^star.html" ignoreCase="false" />
                    
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="star.php" appendQueryString="false" />
                </rule><rule name="Rewrite Rule 32" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^mxstar_(.*)_(.*)_(.*).html" ignoreCase="false" />
                    
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="star.php/?wd={R:1}&amp;tab={R:2}&amp;pageno={R:3}" appendQueryString="false" />
                </rule><rule name="Rewrite Rule 33" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^seacher-(.*).html" ignoreCase="false" />
                    
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="seacher.php/?wd={R:1}" appendQueryString="false" />
                </rule><rule name="Rewrite Rule 34" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^news.html" ignoreCase="false" />
                    
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="news.php" appendQueryString="false" />
                </rule><rule name="Rewrite Rule 35" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^news_([0-9]+).html" ignoreCase="false" />
                    
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="news.php/?page={R:1}" appendQueryString="false" />
                </rule><rule name="Rewrite Rule 36" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^content-([0-9]+)-([0-9]+).html" ignoreCase="false" />
                    
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="content.php/?dz=/{R:1}/{R:2}.shtml" appendQueryString="false" />
                </rule>
				<rule name="Rewrite Rule 37" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^gb_(.*).html" ignoreCase="false" />
                    
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="book.php?page={R:1}" appendQueryString="false" />
                </rule><rule name="Rewrite Rule 38" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^cx_(.*)_([0-9]+).html" ignoreCase="false" />
                    
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="cx.php/?cid={R:1}&amp;page={R:2}" appendQueryString="false" />
                </rule><rule name="Rewrite Rule 39" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^yy_(.*).html" ignoreCase="false" />
                    
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="yy.php?list={R:1}" appendQueryString="false" />
                </rule><rule name="Rewrite Rule 40" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^mv_(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="mv.php/?m={R:1}" appendQueryString="false" />
                </rule><rule name="Rewrite Rule 41" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^meipai.html" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="meipai.php" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors>

</httpErrors>
    </system.webServer>
</configuration>